[Desktop Entry]
Name=Disk Management
Name[ja]=ディスク管理
Name[sv]=Diskhantering
Comment=Mount and unmount filesystems
Comment[ja]=ファイルシステムのマウントとマウント解除
Comment[sv]=Montera och avmontera filsystem
Exec=usermount
Terminal=0
Type=Application
